arabic-reshaper==2.1.3
asgiref==3.5.0
cffi==1.14.5
charset-normalizer==2.0.12
cymysql==0.9.18
Django==2.0.6
django-cymysql==3.2.0
django-decouple==2.1
django-mysql==4.5.0
django-pure-pagination==0.3.0
django-qr-code==3.0.0
django-qrcode==0.3
django-xhtml2pdf==0.0.4
future==0.18.2
html5lib==1.1
mysql-connector-python==8.0.28
mysqlclient==2.1.0
PyMySQL==1.0.2
PyPDF2==1.26.0
python-bidi==0.4.2
python-decouple==3.6
python-slugify==6.1.1
pytz==2021.3
reportlab==3.6.8
segno==1.4.1
text-unidecode==1.3
tzdata==2021.5
webencodings==0.5.1
xhtml2pdf==0.2.5